.admission-container {
  text-align: center;
  padding: 100px 20px;
}

.admission-header h1 {
  font-size: 32px;
  color: #003b73;
  font-weight: 700;
}

.admission-header p {
  color: #666;
  margin-top: 5px;
  font-size: 15px;
}

.admission-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  margin-top: 40px;
}

.admission-card {
  padding: 25px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #e5e8ef;
  transition: 0.3s;
  text-decoration: none;
  color: #003b73;
}

.admission-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.10);
}

.form-wrapper {
  max-width: 550px;
  margin: 120px auto;
  padding: 30px;
  background: #ffffff;
  border-radius: 12px;
  border: 1px solid #cfd8e6;
  box-shadow: 0 4px 12px rgba(0,0,0,0.07);
}

h2 {
  text-align:center;
  color:#003b73;
  margin-bottom:5px;
  font-weight:700;
  text-transform:uppercase;
}

.form-note {
  text-align:center;
  font-size: 13px;
  margin-bottom: 15px;
  color:#4b5563;
}

.form-box label {
  font-size:14px;
  font-weight:600;
  color:#003b73;
  margin-bottom:5px;
  display:block;
}

.form-box input {
  width:100%;
  padding:12px;
  margin-bottom:15px;
  border:1px solid #ccd3df;
  border-radius:8px;
  transition:0.2s;
  font-size:14px;
}

.form-box input:focus {
  border-color:#003b73;
  outline:none;
}

.file-group input {
  padding:8px;
}

.submit-btn {
  width:100%;
  padding:14px;
  background:#003b73;
  color:white;
  border:none;
  border-radius:8px;
  cursor:pointer;
  font-weight:700;
  font-size:15px;
  text-transform:uppercase;
  transition:0.3s;
}

.submit-btn:hover {
  background:#015fc9;
}

.back-btn {
  background:transparent;
  border:none;
  font-size:16px;
  cursor:pointer;
  margin-bottom:10px;
  color:#003b73;
  font-weight:600;
}

.back-btn:hover {
  text-decoration:underline;
}
.passport-preview-box {
  width: 120px;
  height: 120px;
  margin-bottom: 15px;
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid #003b73;
  display: flex;
  justify-content: center;
  align-items: center;
}

.passport-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
