.payment-container {
  max-width: 480px;
  margin: 120px auto;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  border: 1px solid #ddd;
  font-family: "Arial";
  position: relative;
}

.back-btn {
  position: absolute;
  top: 12px;
  left: 12px;
  font-size: 14px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-weight: 600;
  color: #003b73;
}

.title {
  text-align: center;
  font-weight: 700;
  color: #003b73;
}

.subtitle {
  text-align: center;
  margin-bottom: 20px;
  color: #555;
  font-size: 14px;
}

.payment-form label {
  display: block;
  font-size: 14px;
  margin: 6px 0 4px;
  font-weight: 600;
}

.payment-form input,
.payment-form select {
  width: 100%;
  padding: 12px;
  border: 1px solid #c9d1e1;
  border-radius: 8px;
  margin-bottom: 12px;
  font-size: 14px;
}

.payment-summary {
  background: #f8fbff;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #dce6f6;
  margin-top: 10px;
}

.payment-summary h3 {
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: 700;
  color: #003b73;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
  font-size: 14px;
}

.total {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 15px;
  margin-top: 8px;
}

.pay-btn {
  width: 100%;
  background: #003b73;
  padding: 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  margin-top: 18px;
}

.pay-btn:hover {
  background: #015fc9;
}
