.dashboard-layout {
  display: flex;
}

.dashboard-content {
  margin-left: 250px; /* same as sidebar width */
  width: calc(100% - 250px);
  padding: 0;
  overflow-x: hidden;
  background-color: rgb(236, 234, 234);
}
.middle-level{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 30px;
  padding: 20px;
}
@media (max-width: 1024px) {
    .middle-level{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  margin: auto;
  padding: 20px;
}
}
@media screen and (max-width: 820px) {
  .dashboard-content {
    margin-left: 0;
    width: 100%;
  }
}