/* LIST PAGE */
.non-container {
  width: 90%;
  margin: auto;
  padding: 40px 0;
}

.non-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.non-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
}

.non-card {
  text-decoration: none;
  color: #222;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ddd;
  text-align: center;
  transition: 0.3s ease;
}

.non-card:hover {
  transform: translateY(-5px);
  border-color: #007bff;
}

.non-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.non-dept {
  color: #007bff;
  font-weight: 600;
  font-size: 0.9rem;
}

/* DETAILS PAGE */
.non-details-wrapper {
  width: 90%;
  margin: auto;
  padding: 40px 0;
}

.non-back {
  color: #007bff;
  text-decoration: none;
}

.non-details-card {
  background: #fff;
  padding: 25px;
  margin-top: 20px;
  border-radius: 12px;
  border: 1px solid #ddd;
}

.non-details-img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  display: block;
  margin: auto;
}

.non-details-card h2 {
  text-align: center;
  margin-top: 15px;
  font-size: 1.7rem;
}

.non-role {
  text-align: center;
  color: #444;
}

.non-dept-large {
  text-align: center;
  color: #007bff;
  font-weight: bold;
}

.non-info-grid {
  display: grid;
  margin-top: 25px;
  gap: 20px;
}

.non-info-grid h4 {
  color: #007bff;
  margin-bottom: 5px;
}

.non-not-found {
  text-align: center;
  margin-top: 40px;
  font-size: 1.3rem;
}
