.staff-container {
  max-width: 900px;
  margin: 40px auto;

  padding-top: 5rem;
  text-align: center;
  font-family: "Segoe UI", sans-serif;
}

.staff-title {
  font-size: 32px;
  font-weight: 700;
  color: #003366;
  margin-bottom: 10px;
}

.sub-title {
  color: #555;
  margin-bottom: 40px;
}

.staff-category-wrapper {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.staff-card {
  width: 280px;
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.25s ease;
  border-left: 5px solid #003366;
}

.staff-card:hover {
  transform: translateY(-5px);
  background: #eaf3ff;
}

.staff-card h2 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #003366;
}

.staff-card p {
  font-size: 14px;
  color: #444;
}
