.student-dashboard {
  padding: 30px;
  background: #f5f8ff;
  width: 100%;
  min-height: 100vh;
}

/* Welcome Section */
.welcome-card {
  display: flex;
  justify-content: space-between;
  background: #1a2b6b;
  color: white;
  padding: 25px;
  border-radius: 12px;
  align-items: center;
}
.welcome-info h2{
    color: #d6d9e6;
}
.student-avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid white;
}

.btn-small {
  background: #fff;
  color: #1a2b6b;
  padding: 7px 14px;
  border-radius: 6px;
  border: none;
  margin-top: 8px;
  cursor: pointer;
  font-weight: 600;
}

/* Stats Cards */
.stats-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin: 25px 0;
}

.stat-card {
  background: white;
  border-radius: 10px;
  padding: 18px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, .08);
}
.stat-card h3{
    font-size: 26px;
}
.icon {
  font-size: 26px;
  margin-bottom: 10px;
  color: #1a2b6b;
}

/* Action Buttons */
.section-title {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #1a2b6b;
  font-size: 18px;
  font-weight: 600;
}

.action-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.action-btn {
  background: white;
  color: #1a2b6b;
  border-radius: 10px;
  padding: 14px;
  font-size: 14px;
  border: 1px solid #d6d9e6;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 0 12px rgba(0,0,0,.05);
}

.action-btn:hover {
  background: #e7ecff;
}

/* Recent Activity */
.recent-activity {
  background: white;
  padding: 20px;
  border-radius: 12px;
  margin-top: 10px;
  font-size: 14px;
  box-shadow: 0 0 15px rgba(0,0,0,.08);
}

.recent-activity p {
  margin-bottom: 6px;
}

/* Mobile */
@media(max-width: 768px) {
  .stats-grid {
    grid-template-columns: 1fr;
  }

  .action-grid {
    grid-template-columns: 1fr;
  }

  .welcome-card {
    flex-direction: column;
    text-align: center;
  }

  .student-avatar {
    margin-top: 12px;
  }
}
